.container {
    animation: fadeIn 1s;
}

.scrollContainer {
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  box-shadow: inset 0 0 .6rem .01rem gray;
}

.scroller {

  width: 100%;
  height: 50%;
  /* margin-left: 1rem; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;


  align-items: center;


}

.card {
  margin: 1rem;
  padding: .5rem;
  flex: 0 0 auto;
  width: 12rem;
  height: 25rem;
  box-shadow: 0 0 .3rem .01rem gray;
  border-radius: .5rem;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
