.container {
    position: relative;
    /* background-repeat: no-repeat;
    background-size: contain; */
    height: 100%;
    width: 100%;
    color: var(--offWhite);
    animation: fadeIn 1s;
    z-index: 0;
}

.bgImgDiv {
    position: fixed;
    background-image: url('../assets/world.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 12rem;
    left: 0;
    right: 0;
    height: 80%;
    z-index: -1;
}

.title {
    color: var(--offWhite);
}

.world {
    color: var(--hotPink);
    font-size: 2.4rem;
}

.qMark {
    color: var(--canary)
}

.cardContainer {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    background-color: rgba(255,255,255, .3);
    margin: .5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--canary);
    border-radius: 3rem;
    border: solid 1px var(--hotPink);
    transition: .2s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}