.container {
    width: 100%;
    height: 100vh;
    animation: fadeIn 1s;
    color: var(--deepBlue);
}

.contentDiv {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.containerLeft, .containerRight {
  width: 45%;
  padding: 1rem;
  text-align: left;
}

.theseBtns {
  background-color: rgba(0,0,0,.4);
  margin: .5rem;
  color: var(--skyBlue);
  border: none;
  border-radius: .2rem;
  transition: .2s;
}

.theseBtns:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.name {
  color: var(--canary)
}

.subTitleDiv {
  margin-top: 1rem;
  
}

.officialLabel {
  font-size: .8rem;
}

.officialName {
  font-size: 1.2rem;
  font-weight: 800;
}

.capital {
  margin-top: 1rem;
}

.weatherWidget {
  background-color: rgba(0,0,0,.4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.timeLabel, 
.clock, 
.feelsLikeSpan, 
.mainTempSpan {
  color: var(--offWhite);
}

.timeLabel {
  font-size: .8rem;
}

.clock {
  font-size: x-large;
}

.capDiv {
  margin: 1rem;
  display: flex;
  color: var(--hotPink)
}

.iconCnt {
  margin-left: .5rem;
  width: 1rem;
  height: 1rem;
}

.tempDiv {
  background-color: var(--deepBlue);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.mainTempSpan {
  font-size: 2rem;
  
}

.conditions {
  margin-top: .5rem;
  color: var(--skyBlue);
}


.imgContainer {
  width: 80%;
  
}

.imgContainer > img {
  max-width: 100%;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.infoTable {
  margin-top: 1rem;
  font-size: .8rem;
}

.rowContent {
  padding-left: 1rem;
}


@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@media screen and (max-width: 500px) {
  .contentDiv {
   
    flex-direction: column;
   
  }
  .containerLeft, .containerRight {
    box-sizing: border-box;
    width: 100%;
  }
  .imgContainer {
    width: 100%;
  }
  
}