.container {
    width: 100%;
    height: 100vh;
    animation: fadeIn 1s;
}

.contentDiv {
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.containerLeft, .containerRight {
  width: 45%;
  padding: 1rem;
  text-align: left;
}

.imgContainer {
  width: 80%;
}

.imgContainer > img {
  max-width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
